/* All CSS styles go here */

.topnav {
  background-color: #19120B;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 160px;
  text-decoration: none;
  font-family: kepler-std-display,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

.topnav a:hover {
  ;
}

  .topnav a.active {
  background-color: #cf1b00;
  color: white;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}



*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }
